.aboutus-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.aboutus-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}

.aboutus-text p{
  width: 80%;
}

@media screen and (max-width: 768px) {
  .aboutus-section {
    flex-direction: column;
    align-items: start;
  }
  .aboutus-text {
    width: 100%;
  }

  .aboutus-image img{
    width: 100%;
  }
  
}