.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.blog-post {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 70%;
    font-family: "Forma Light";
    letter-spacing: 0.15em;
}

.blog-post h1 {
    font-size: 2rem;
    margin: 5px 0 0 0;
}

.blog-post h2 {
    font-size: 1.3rem;
    margin: 5px 0 0 0;
}

.blog-post h3 {
    font-size: 1.3rem;
    color: darkgrey;
    margin: 5px 0 0 0;
}
.blog-post p {
    font-family: "Forma Regular";
    letter-spacing: 0;
}

